.about {
  height: 100vh;
  width: 100%;
  background-color: $light;
  color: $dark;
  position: absolute;
  @extend .grid-center;

  .container-about {
    height: 80vh;
    width: 60%;

    @extend .grid-center;
    gap: 5px 5px;
    grid-template:
      "a a b b" 1fr
      "a a b b" 1fr
      "a a b b" 1fr;

    .about-pic {
      @extend .grid-center;
      height: 70%;
      width: 50%;
      overflow: hidden;
      grid-area: a;

      img {
        height: auto;
        width: 300px;
        margin: 0px 20px 0px 20px;
        border-radius: 10px;
      }
    }
    .about-desc {
      height: 60vh;
      overflow-y: auto;
      grid-area: b;
      padding-right: 40px;

      h2 {
        width: 100%;
        font-size: 2rem;
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
