.header {
  height: 100vh;
  width: 100%;
  background-color: $secondary;
  color: $light;
  font-size: 4rem;
  position: absolute;
  @extend .grid-center;

  @include media-max($xs) {
    font-size: 2rem;
  }

  .p1 {
    width: 50%;
    font-family: $raleway;
    text-align: left;

    .s1 {
      font-weight: bold;
    }

    .s2 {
      mark {
        background-color: $light;
        padding: 0px 20px 0px 20px;
        color: $secondary;
        font-weight: bold;
      }
    }
  }
}
