.projects {
  height: 100vh;
  width: 100%;
  background-color: $light;
  color: $dark;
  position: absolute;
  overflow-y: scroll;
  @extend .grid-center;

  .container-proj {
    height: 80vh;
    width: 60%;
    margin-top: 70px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid $dark;

    @include media-max($xs) {
      margin-top: 30px;
      height: 90vh;
      width: 80%;
      height: 100vh;
    }

    &:last-child {
      padding-bottom: 70px;
    }

    p:last-of-type {
      padding-top: 1rem;
    }

    @extend .grid-center;

    .proj-desc,
    .proj-tech,
    .proj-github {
      width: 60%;
      height: fit-content;

      @include media-max($xs) {
        width: 90%;
      }
    }

    .proj-vid {
      width: 60%;

      @include media-max($xs) {
        width: 90%;
      }

      video {
        width: 100%;
        height: auto;

        @include media-max($xs) {
          width: 90%;
        }
      }

      .vid1 {
        @include media-max($xs) {
          width: 75%;
        }
      }
      .vid2 {
        @include media-max($xs) {
          width: 75%;
        }
      }
    }
    .proj-desc {
      display: grid;
    }
    .proj-tech {
      .tech {
        cursor: pointer;
        height: fit-content;
        width: fit-content;
        box-shadow: 0 0px 1.3px rgba(0, 0, 0, 0.09),
          0 0px 10px rgba(0, 0, 0, 0.18);
        font-size: 0.9rem;
        font-weight: 600;
        padding: 8px 16px 8px 16px;
        margin: 6px 6px 6px 6px;
        background-color: $light;
        border-radius: 30px;
        display: inline-block;
        vertical-align: middle;
      }

      .html-css {
        color: $light;
        background-color: rgb(221, 75, 37);
        background: linear-gradient(
          133deg,
          rgba(221, 75, 37, 1) 35%,
          rgba(37, 75, 221, 1) 84%
        );
      }

      .javascript {
        background-color: #efd81d;
      }

      .php {
        background-color: #7377ad;
        color: $light;
      }

      .mysql {
        background-color: #005d85;
        color: $light;
      }

      .blade {
        color: $light;
        background: rgb(221, 75, 37);
      }

      .laravel {
        background-color: #ff2d20;
        color: $light;
      }

      .react {
        background-color: #61dafb;
        color: #282c34;
      }

      .sass {
        background-color: #cf649a;
        color: $light;
      }
    }
    .proj-github {
      mark {
        padding: 0px 6px 0px 6px;
      }

      @include media-max($xs) {
        width: 50%;
        justify-self: start;
      }
    }
  }
}
