$mobile-wide: 768px;
$mobile: 559px;
$desktop: 1200px;

.grid-center {
  display: grid;
  place-items: center;
}

@import "abstracts/colors";
@import "abstracts/fonts";
@import "components/buttons";
@import "components/navbar";
@import "layouts/about";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/projects";

body {
  margin: 0px;
  padding: 0px;
}

.App {
  height: 100vh;
  width: 100%;

  @extend .grid-center;
}
